/*Media queries*/
    /*Para pantallas medianas*/
    @media (min-width:768px) and (max-width:1024px){
        /*Reglas de CSS ordinarias*/
        .product-list{
            flex-wrap: wrap;
            justify-content: center;
        }

        .product{
            width: 45%;
        }
    }

    /*Para pantallas pequeñas*/
@media (max-width:768px){
    /*Reglas de CSS ordinarias*/
    .navbar{
        position: static;
        flex-direction: column;
        align-items: flex-start;

    }

    .nav-links{
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .nav-links li{
        margin: 10px 0;
    }

    .hero h2{
        font-size: 30px;
    }

    .featured-products{
        flex-direction: column; /* Apila la imagen y la descripción en pantallas pequeñas */
        align-content: center;
        
    }

    .product img{
        width: 100%;
    }

    .historia{
        flex-direction: column;
        
    }
    .historia img{
        width: 90%;
    }
}


